<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingresar Personas</title>
</head>
<body>
    <h2>Formulario para Ingresar Persona</h2>
    <form id="personaForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        <br>
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="edad" required>
        <br>
        <button type="button" onclick="ingresarPersona()">Ingresar Persona</button>
    </form>

    <hr>

    <a href="/mostrar">Ver Tabla</a>

    <script>
        function ingresarPersona() {
            var nombre = document.getElementById('nombre').value;
            var apellido = document.getElementById('apellido').value;
            var edad = document.getElementById('edad').value;

            var tabla = localStorage.getItem('personas');
            var personas = tabla ? JSON.parse(tabla) : [];

            var nuevaPersona = { nombre: nombre, apellido: apellido, edad: edad };
            personas.push(nuevaPersona);

            localStorage.setItem('personas', JSON.stringify(personas));

            // Limpiar el formulario
            document.getElementById('personaForm').reset();
        }
    </script>
</body>
</html>